{% extends "_mail/_layout" %}

{% block title %}
	{{ 'Thank you for submitting a Repair Event'|t }}
{% endblock %}

{% block content %}
	<p>Hi
		{{ user.firstName }}
	</p>

	<p>{{ 'A copy of your submition:'|t }}</p>

	<ul>
		{% for key,value in event %}
			<li>
				<strong>
					{% switch key %}
						{% case "title" %}
							Event title
						{% case "date" %}
							Date
						{% case "location" %}
							Location
						{% case "organisationName" %}
							Organisation
						{% case "organisationUrl" %}
							Organisation URL
						{% case "category" %}
							Event category
						{% case "registerUrl" %}
							Link to register form
						{% case "infoUrl" %}
							Link to more information
						{% case "intro" %}
							Introduction
						{% case "body" %}
							Body text
					{% endswitch %}
				</strong>
				<br>
				{{ value|raw }}
			</li>
		{% endfor %}
	</ul>

{% endblock %}
