<div style="display: block; text-align: center; padding: 15px 0;">
    <p style="font-size: 18px;text-align: left;">
        Welcome to your city’s local repair platform. <br>
        Don’t hesitate to check our <a href="https://drive.google.com/drive/folders/1q82aGPQv_b3WfqcKB3Bkedr5HjNgpWU2?usp=sharing" target="_blank">training material</a> (video training with overview of the website back-end functionalities) and our
        <a href="https://www.help.statik.be/opleidingsvideos" target="_blank">general help videos about Craft CMS</a>.
    </p>
    <p style="font-size: 18px;text-align: left;">
        If you have more questions, reach out to <a href="mailto:support@statik.be">support@statik.be</a>
    </p>
</div>